html
  head
    title Humanity Against Cards
    link(rel='stylesheet', href='/views/stylesheet/main.css')
  body
    div(class='main-menu')
      h1(class='title') Humanity Against Cards
      h2(class='subtitle') Online

      div(class='main-menu-option')
        a(href='game') Games

      div(class='main-menu-option')
        a(href='login') Login

      div(class='main-menu-option')
        a(href='options') Options

      div(class='main-menu-option')
        a(href='statistics') Statistics
