html
  head
    title Humanity Against Cards
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    div(class='main-menu')
      h1(class='title') Humanity Against Cards
      h2(class='subtitle') Online

      div(class='main-menu-option')
        a(href='game') Games

      div(class='main-menu-option')
        a(href='login') Login

      div(class='main-menu-option')
        a(href='prefrences') Preferences

      div(class='main-menu-option')
        a(href='statistics') Statistics
